{%extends "base.html"%}
{% block content %}
    <div class="banner_w3lspvt position-relative">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="w3ls_pvt-title">
                        飞客社区
                    </h3>
                    <h5 class="text-muted">
                       &nbsp; ——&nbsp;不只是社区
                    </h5>
                    <h3 class="w3ls_pvt-title">
                        <span>
                            <small>
                                你想要的 , <br> 这里都有
                            </small> 
                        </span>
                    </h3>
                    <p class="text-muted my-4">
                        国内首个面向无人机可靠性的群智化生态系统平台
                    </p>
                    <p>
                        <a href="/bbs" class="btn btn-success btn-lg">
                            开启新世界
                        </a>
                    </p>
                </div>
                <div class="col">
                    <div class="banner-img"></div>
                    <img class="img-fluid" src="/static/imgs/bg_shouye.png" alt="">
                </div>
            </div>
        </div>
        <div class="icon-effects-w3l">
            <img src="/static/imgs/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
            <img src="/static/imgs/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
            <img src="/static/imgs/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
            <img src="/static/imgs/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
            <img src="/static/imgs/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
            <img src="/static/imgs/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
        </div>
    </div>
    <div class="banner_w3lspvt position-relative bg-light">
        <div class="container text-center">
            <div class="card-deck">
                <div class="card">
                    <img src="/static/imgs/ziyuan.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">智能诊断</h5>
                        <p class="card-text text-muted">基于深度学习的Auto-FMEA算法，带来最精准的故障分析</p>
                        <p> 
                            <a href="/diagnosis" class="btn btn-white text-info">详情</a> 
                        </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/imgs/tuijian.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">智能推荐</h5>
                        <p class="card-text text-muted">精准的信息流推荐算法，带来最极致的浏览体验</p>
                        <p> <a href="/bbs" class="btn btn-white text-info">详情</a> </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/imgs/keshihua.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">可视化</h5>
                        <p class="card-text text-muted">文献检索可视化，带来最清晰的资源检索</p>
                        <p> <a href="/papers" class="btn btn-white text-info">详情</a> </p>
                    </div>
                </div>
                <div class="card">
                    <img src="/static/imgs/luntan.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">互动社区</h5>
                        <p class="card-text text-muted">为多方用户架起桥梁，营造充满生机的无人机生态系统</p>
                        <p> <a href="/bbs" class="btn btn-white text-info">详情</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}